{% extends "base.html" %}

{% block title %}Spieler - Jass App{% endblock %}

{% block content %}
    <h1 class="fw-bold mb-4">Spieler</h1>

        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h2 class="h4 mb-3">Spielerverwaltung</h2>

                <div class="row g-3 align-items-end">
                    <div class="col-md-8">
                        <label for="player-name" class="form-label">Neuen Spieler anlegen</label>
                        <input
                            id="player-name"
                            type="text"
                            class="form-control"
                            placeholder="z. B. Marc"
                        >
                    </div>

                    <div class="col-md-4">
                        <button id="create-player-btn" class="btn btn-dark w-100">
                            Spieler anlegen
                        </button>
                    </div>
                </div>

                <div class="mt-4">
                    <h3 class="h5">Vorhandene Spieler</h3>
                    <ul id="player-list" class="list-group mt-3">
                        <li class="list-group-item text-muted">Noch keine Spieler vorhanden.</li>
                    </ul>
                </div>

            </div>
        </div>
{% endblock %}

{% block page_scripts %}
    <script src="{{ url_for('static', filename='js/pages/players.js') }}"></script>
{% endblock %}